<ion-header>
  <ion-toolbar>
    <ion-title>Enrola!</ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content class="ion-padding">
    <form id="enroll-form2" class="list">
      <div>
        <img slot="start" src="../../assets/lorito.png" style="width:20%;height:auto;">
        <h2 class="center">Bienvenid@!</h2>
      </div>
      <ion-list id="enroll-list2">
        <label class="item item-input" id="enroll-input8">
          <span class="input-label">Rut</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="enroll-input3">
          <span class="input-label">Nombre</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="enroll-input4">
          <span class="input-label">Apellido</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="enroll-input6">
          <span class="input-label">Correo</span>
          <input type="email" placeholder="">
        </label>
        <label class="item item-input" id="enroll-input5">
          <span class="input-label">Contraseña</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <label class="item item-input" id="enroll-input7">
        <span class="input-label">Verificar Contraseña</span>
        <input type="password" placeholder="">
      </label>
    </form>
    <button id="enroll-button17" class="button button-positive button-block">Enviar</button>
  </ion-content>