<ion-header>
  <ion-toolbar>
    <ion-button class="md button ion-activatable ion-focusable hydrated" >
      <ion-icon  name="hammer" ></ion-icon>
    </ion-button>
    <ion-title slot="secondary"> Inicio</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content class="ion-padding" scroll="false" class="has-header">
  <div>
    <img src="../../assets/fonetic_fonologic_unity.png" (click)="nextpage()" ng-click="nextpage()" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto; ">
  </div>
</ion-content>
