<ion-header>
  <ion-toolbar>
    <ion-title>fonetic</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding="true" class="has-header">
  <div class="spacer" style="height: 100px;"></div>
  <div id="transcripcionFonetica-container11" class="creator-container"></div>
  <form id="transcripcionFonetica-form9" class="list">
    <div class="spacer" style="height: 100px;"></div>
    <label class="item item-input" id="transcripcionFonetica-input10">
      <input type="text" placeholder="">
    </label>
  </form>
  <button id="transcripcionFonetica-button72" style="border-radius:500px 500px 500px 500px;" class="button button-calm button-block">Apretame :x</button>
</ion-content>