

<ion-content class="ion-padding">
  <button id="fonTicaFonolGica-button6" style="border-radius:0px 0px 0px 0px;" class="button button-calm button-block">Transcripcion Fonética</button>
  <button (click)="transcription()" id="fonTicaFonolGica-button21" style="    -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.45) ;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.45) ;border-radius:500px 500px 500px 500px;" class="button button-calm button-block button-outline">Transcripción</button>
  <div class="spacer" style="width: 283px; height: 15px;"></div>
  <button id="fonTicaFonolGica-button7" style="border-radius:0px 0px 0px 0px;" class="button button-calm button-block">Transcripción Fonológica</button>
  <div id="fonTicaFonolGica-button-bar1" class="button-bar">
    <button (click)="fone()" id="fonTicaFonolGica-button11" style="    -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.45) ;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.45) ;border-radius:50px 50px 50px 50px;" class="button button-calm button-block button-outline">Fonemas</button>
    <button (click)="grafe()" id="fonTicaFonolGica-button12" style="    -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.45) ;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.45) ;border-radius:5000px 5000px 5000px 5000px;" class="button button-calm button-block button-outline">Grafemas</button>
  </div>
  <div class="spacer" style="width: 283px; height: 15px;"></div>
  <button id="fonTicaFonolGica-button14" style="border-radius:0px 0px 0px 0px;" class="button button-calm button-block">Conciencia Fonológica</button>
  <div id="fonTicaFonolGica-button-bar2" class="button-bar">
    <button (click)="sil()" id="fonTicaFonolGica-button19" style="    -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.45) ;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.45) ;border-radius:500px 500px 500px 500px;" class="button button-calm button-block button-outline">Silabas</button>
    <button (click)="letter()" id="fonTicaFonolGica-button18" style="    -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.45) ;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.45) ;border-radius:500px 500px 500px 500px;" class="button button-calm button-block button-outline">Letras</button>
  </div>
</ion-content>