  <ion-header>
    <ion-toolbar>
      <ion-title>Identifica tu Sesion!</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <div class="text">Ingresa tu identificador de sesion
      Si no la conoces</div>
      <br>
      <div class="text">consulta tu ID al docente encargado</div>
    <div class="spacer" style="width: 284.333px; height: 100px;"></div>
    <label class="item item-input" id="page-input9">
      <span class="input-label">
        ID de Sesion
      </span>
      <input type="number" [(ngModel)]="session_id" placeholder="">
      <button (click)="busqueda()" id="page-button8" class="boton">Buscar Session!</button>
    </label>
  
  
  </ion-content>
  