<ion-header>
  <ion-toolbar>
    <ion-title>Selecciona tu nivel!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list id="page55-list6">
    
    <ion-item >
        <ion-avatar slot="start">
            <img src="../../assets/blyat.png">
          </ion-avatar>
      <h2>Tutorial</h2>
    </ion-item>
  </ion-list>
  
  <label>Ejercicios</label>
  <div id="page55-button-bar4" class="button-bar">
    <ion-button (click)="getValue('0','1')" color="success">1</ion-button>
    <ion-button (click)="getValue('0','2')" color="danger" disabled>2</ion-button>
    <ion-button (click)="getValue('0','3')" color="danger" disabled>3</ion-button>
    <ion-button (click)="getValue('0','4')" color="danger" disabled>4</ion-button>
    <ion-button (click)="getValue('0','5')" color="danger" disabled>5</ion-button>
  </div>
  <div id="page55-button-bar3" class="button-bar"></div>
  <ion-list id="page55-list3">
    <ion-item >
        <ion-avatar slot="start">
            <img src="../../assets/normalLingu.png">
          </ion-avatar>
      <h2>Nivel 1</h2>
    </ion-item>
  </ion-list>
  <label>Ejercicios</label>
  <div id="page55-button-bar6" class="button-bar">
    <ion-button (click)="getValue('1','1')" color="success">1</ion-button>
    <ion-button (click)="getValue('1','2')" color="danger" disabled>2</ion-button>
    <ion-button (click)="getValue('1','3')" color="danger" disabled>3</ion-button>
    <ion-button (click)="getValue('1','4')" color="danger" disabled>4</ion-button>
    <ion-button (click)="getValue('1','5')" color="danger" disabled>5</ion-button>
  </div>
  <ion-list id="page55-list7">
      <ion-item >
          <ion-avatar slot="start">
              <img src="../../assets/normalLingu.png">
            </ion-avatar>
      <h2>Nivel 2</h2>
    </ion-item>
  </ion-list>
  <label>Ejercicios</label>
  <div id="page55-button-bar7" class="button-bar">
    <ion-button (click)="getValue('2','1')" color="success">1</ion-button>
    <ion-button (click)="getValue('2','2')" color="danger" disabled>2</ion-button>
    <ion-button (click)="getValue('2','3')" color="danger" disabled>3</ion-button>
    <ion-button (click)="getValue('2','4')" color="danger" disabled>4</ion-button>
    <ion-button (click)="getValue('2','5')" color="danger" disabled>5</ion-button>
  </div>
  <ion-list id="page55-list5">
      <ion-item >
          <ion-avatar slot="start">
              <img src="../../assets/normalLingu.png">
            </ion-avatar>
      <h2>Nivel 3</h2>
    </ion-item>
  </ion-list>
  <label>Ejercicios</label>
  <div id="page55-button-bar5" class="button-bar">
    <ion-button (click)="getValue('3','1')" color="success">1</ion-button>
    <ion-button (click)="getValue('3','2')" color="danger" disabled>2</ion-button>
    <ion-button (click)="getValue('3','3')" color="danger" disabled>3</ion-button>
    <ion-button (click)="getValue('3','4')" color="danger" disabled>4</ion-button>
    <ion-button (click)="getValue('3','5')" color="danger" disabled>5</ion-button>
  </div>
</ion-content>
